.body{
	width:100%;
	height:100%;
}

@media screen and (max-width:240px) and (min-width:240px) and (max-height:507px) and (min-height:506px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:82%;
	}
}


@media screen and (max-width:360px) and (min-width:360px) and (max-height:760px) and (min-height:760px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	padding-bottom:23.5px;
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:97%;
	}
}


@media screen and (max-width:411px) and (min-width:411px) and (max-height:731px) and (min-height:731px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:74%;
	}
}


@media screen and (max-width:411px) and (min-width:411px) and (max-height:823px) and (min-height:823px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:97.5%;
	}
}


@media screen and (max-width:320px) and (min-width:320px) and (max-height:568px) and (min-height:568px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:63%;
	}
}


@media screen and (max-width:414px) and (min-width:414px) and (max-height:736px) and (min-height:736px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:74.5%;
	}
}


@media screen and (max-width:375px) and (min-width:375px) and (max-height:667px) and (min-height:667px),(orientation: landscape){

.header{
	width:100%;
}	
	
.logo{
	width: 30%;
	padding-top:25%;
	padding-left:35%;
	}

.content {
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:70%;
	}
}

@media screen and (max-width:375px) and (min-width:375px) and (max-height:812px) and (min-height:812px),(orientation: landscape){

.header{
	width:100%;
}	
	


.content {
	padding-bottom:50px;
	background: white;
	background-image: url(../Immagini/atlas.png);
	background-size: cover;
	
	}

.form{
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:97%;
	}
}



::placeholder{
	color:white;
}



input[type = text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid white;
	background-color:transparent;
	color:white;
}

input[type = password]{
	width : 100%;
	background-color: transparent;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid white;
	color:white;
}